body, html {
    height: 100%;
}

.container {
    position: relative;
    height: 100vh;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.showcase {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.class-boton404{
    position: relative;
    top: 300px;
    color: #0af7ff;
}

.btn404 {
    border: 0
}

.btn404:hover{
    color: #f006b1ff;
    text-decoration: none;
}

.h1acercade {
    color: #0af7ff;
    font-family: "Pixelify Sans", cursive;
}