* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.TitleNav {
  font-family: "Pixelify Sans", cursive;
  color: #48e3f5ff;
  letter-spacing: 0.4vw;
}

.TitleNavThe {
  font-family: "Pixelify Sans", cursive;
  color: #f006b1ff;
  letter-spacing: 0.4vw;
}

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: 0.5s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: #f006b1ff;
  border-radius: 4px;
}

#bar1,
#bar3 {
  width: 80%;
}

#ListContentNav a {
  color: #f006b1ff;
  text-decoration: none;
}

#ListContentNav a:hover {
  color: rgb(240, 6, 157, 1);
  letter-spacing: 0.5px;
}

.iconsContent a {
  text-decoration: none;
  color: #f006b1ff;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.iconsContent i:hover {
  scale: 2;
}

body {
  background: rgb(9, 0, 63);
  background: linear-gradient(
    180deg,
    rgba(9, 0, 63, 1) 0%,
    rgba(77, 2, 97, 1) 33%,
    rgba(109, 3, 113, 1) 48%,
    rgba(136, 4, 126, 1) 59%,
    rgba(159, 4, 137, 1) 66%,
    rgba(155, 3, 124, 1) 73%,
    rgba(77, 2, 97, 1) 83%,
    rgba(77, 2, 97, 1) 100%
  );
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.buttonDetails {
  color: white;
  background-color: #f006b1ff;
}

.element {
  color: #f006b1ff;
}

.element1 {
  color: rgb(255, 255, 255);
  background-color: #f006b1ff;
}

.element2 {
  color: rgb(0, 0, 0);
  background-color: #0af7ff;
}

.element3 {
  color: #0af7ff;
}

.azul {
  text-shadow: 0 0 5px #0af7ff, 0 0 10px #0af7ff, 0 0 20px #0af7ff,
    0 0 40px #0af7ff, 0 0 80px #0af7ff, 0 0 100px #0af7ff;
}

.element2:hover {
  transform: scale(1.3);
  transition: 0.4s;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}

.buttonDetails:hover {
  transform: scale(1.1);
  color: white;
  transition: 0.6s;
}

.divs:hover {
  transform: scale(1.05);
  transition: 0.6s;
}

.btn-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.btn-container i {
  display: inline-block;
  position: relative;
  top: -9px;
}

label {
  font-size: 13px;
  color: #424242;
  font-weight: 500;
}

.btn-color-mode-switch {
  display: inline-block;
  margin: 0px;
  position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner {
  margin: 0px;
  width: 140px;
  height: 30px;
  background: #e0e0e0;
  border-radius: 26px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset;
  display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before {
  content: attr(data-on);
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  top: 7px;
  right: 20px;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after {
  content: attr(data-off);
  width: 70px;
  height: 16px;
  background: #fff;
  border-radius: 26px;
  position: absolute;
  left: 2px;
  top: 2px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 6px -2px #111;
  padding: 5px 0px;
}

.btn-color-mode-switch > .alert {
  display: none;
  background: #ff9800;
  border: none;
  color: #fff;
}

.btn-color-mode-switch input[type="checkbox"] {
  cursor: pointer;
  width: 50px;
  height: 25px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0px;
}

.btn-color-mode-switch
  input[type="checkbox"]:checked
  + label.btn-color-mode-switch-inner {
  background: #151515;
  color: #fff;
}

.btn-color-mode-switch
  input[type="checkbox"]:checked
  + label.btn-color-mode-switch-inner:after {
  content: attr(data-on);
  left: 68px;
  background: #3c3c3c;
}

.btn-color-mode-switch
  input[type="checkbox"]:checked
  + label.btn-color-mode-switch-inner:before {
  content: attr(data-off);
  right: auto;
  left: 20px;
}

.btn-color-mode-switch input[type="checkbox"]:checked ~ .alert {
  display: block;
}

.dark-preview {
  background: #0d0d0d;
}

.white-preview {
  background: #fff;
}

.BackgroundContainer {
  background-image: url(/assets/backgroundmMain.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ContentRegisterItems {
  display: grid;
  justify-content: center;
}

.containerBtnLogin {
  display: grid;
  border-radius: 50px;
}

.containerBtnRegiter {
  display: grid;
  border-radius: 50px;
}

.containerBtnItems a {
  display: grid;
}

.ListItems {
  width: 5vh;
}

.FillBlue {
  fill: #4285f4;
}

.FillGreen {
  fill: #34a853;
}

.FillYellow {
  fill: #fbbc05;
}

.FillRed {
  fill: #ea4335;
}

.FillWhite {
  fill: #fff;
}

.FillOrange {
  fill: #fbbc05;
}

.Filldark {
  fill: #0d0d0d;
  object-fit: cover;
  object-position: center;
  background-color: #e0e0e0;
}


.bodycontact {
    display: block;
    width: 100%;
    height: 900px;
    background-image: linear-gradient(rgba(77, 2, 97, 1),rgba(159, 4, 137, 1), rgba(159, 2, 137, 1), rgba(77, 2, 97, 1));
}

.buttoncontact {
  display: flex;
  justify-content: center;
}

.imagecontact {
  width: 500px;
}

.container404 {
  margin: 0;
  padding: 0;
  font-family: "Pixelify Sans", cursive;
  min-height: 100vh;
  background-image: linear-gradient(rgba(77, 2, 97, 1),rgba(159, 4, 137, 1), rgba(159, 2, 137, 1), rgba(77, 2, 97, 1));
}

.m404 {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #0af7ff;
}

.h1404 {
  font-size: 200px;
  margin: 0;
  font-weight: 1200;
  letter-spacing: 20px;
  background: url(/assets/backgroundmMain.png) center no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.a404 {
  text-decoration: none;
  background: #0af7ff;
  color: #5d8384;
  padding: 12px 24px;
  display: inline-block;
  border-radius: 25px;
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.4s;
}

.a404 :hover {
  background: #b5ebed;
}